<!doctype html>
<html lang="en">
<head>
	<title>Foot Viewer</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	<style>
		body 
		{
			font-family: Monospace;
			font-weight: bold;
			color: white;
			background-color: #000080;
			margin: 0px;
			overflow: hidden;
		}
	</style>
</head>
<script src="js/lib/THREEx.KeyboardState.js"></script>
<script src="js/lib/THREEx.FullScreen.js"></script>
<script src="js/lib/THREEx.WindowResize.js"></script>


<body>
	<!-- TODO add a WEBGL check -->
	<!-- see app.js for the corresponding vuejs app -->
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<div id="app" v-cloak>
		<div id="scan_picker" v-if="AppState !== AppStates.LOADED">

			<ul v-if="AppState === AppStates.PICKING">
				<span>Scans avalible for viewing:</span>
				<li v-for="scan in scans">
					<button type="button" v-on:click="loadViewer(scan.path)">{{ scan.path }}</button>
				</li>
			</ul>

			<div v-else-if="AppState === AppStates.LOADING">
				now loading...
			</div>
			</ul>
		</div>
		
		<viewer ref="viewerInstance" v-show="AppState === AppStates.LOADED"></viewer>
	</div>


</body>
<script src="bundle.js"></script>
</html>