<!doctype html>
<html lang="en">
<head>
	<title>Foot Viewer</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	<style>
		body 
		{
			font-family: Monospace;
			font-weight: bold;
			color: white;
			background-color: #000080;
			margin: 0px;
			overflow: hidden;
		}
	</style>
</head>
<script src="./lib/THREEx.KeyboardState.js"></script>
<script src="./lib/THREEx.FullScreen.js"></script>
<script src="./lib/THREEx.WindowResize.js"></script>


<body>
	<!-- TODO add a WEBGL check -->
	<!-- see app.js for the corresponding vuejs app -->
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<div id="app" v-cloak>
		<div id="scan_picker" v-if="AppState !== AppStates.LOADED">

			<!-- INITIAL STATE -->
			<div v-if="AppState === AppStates.PICKING">
				
				<ul >
					<span>Scans avalible for viewing:</span>
					<li v-for="scan in scans">
						<input type="checkbox" :id="scan" :value="scan.path" v-model="selectedScans">
						<label for="scan">{{scan.path}}</label>
					</li>
					<span>Insoles avalible for viewing:</span>
					<li v-for="sole in insoles">
						<input type="checkbox" :id="sole" :value="sole.path" v-model="selectedInsoles">
						<label for="sole">{{sole.path}}</label>
					</li>
					<!-- There should be some validation on this end that confirms a scan has been selected -->
					<button type="button" v-on:click="loadViewer(selectedScans, selectedInsoles)">Load selected scans</button>
				</ul>

				<div>
					<span>Overlay Scene Graph Viewer:</span>
					<li v-for="scheme in existing_load_schemes">
						<button type="button" v-on:click="loadGraphViewer(scheme)">{{scheme}}</button>
					</li>						
				</div>				
			</div>



			<!-- LOADING STATE -->
			<div v-else-if="AppState === AppStates.LOADING">
				now loading...
			</div>
		</div>
		
		<!-- VIEWER STATE -->
		<viewer ref="viewerInstance" v-show="AppState === AppStates.LOADED"></viewer>
	</div>


</body>
<script src="bundle.js"></script>
</html>